<div class="hero-unit">
  <div class="herotext">
  	<h1>Meet Superconnector.</h1>
  		<br>
  		<p>Your relationships are like flowers. We tell you when to water them.</p>
  		<br>
   		 <p>
     		 <%= link_to "Sign up for Free!", "#", class: "btn btn-primary btn-large" %>
    	</p>
  </div>
</div>